  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
<app-side-bar></app-side-bar>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
        <app-nav-bar></app-nav-bar>
      <!--  Header End -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
